// Page Styles
// 
// Global page styles

.o-main {
  overflow: hidden;
}

.o-dashboard {
  display: flex;

  &__menu {
    width: 32rem;
  }

  &__content {
    
  }

  &__disclaimer {
    font-size: $font-size-sm;
  }
}

.container,
.container-fluid {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}
