// Page Styles
// 
// Global page styles


.o-main {
  // overflow-x: hidden;
  // flex: 1;
}

.o-dashboard {
  display: flex;

  &__content {
    width: 100%;
  }

  &__message {
    margin-top: $leading;
  }

  &__disclaimer {
    font-size: $font-size-sm;
    margin-top: $leading * 3;
    margin-bottom: $leading / 2;
  }
}

.container,
.container-fluid {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}
