.c-alert {
  padding: 1.1rem 1.6rem;
  border-bottom: 0.2rem solid #FF0402;
  -webkit-box-shadow: 0 0 1.1rem 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 1.1rem 0 rgba(0, 0, 0, 0.3);
}

.c-alert p {
  margin-bottom: 0;
}

