.c-btn {
  display: inline-block;
  font-weight: 700;
  font-size: 1.4rem;
  padding: 0.55rem 3.2rem;
  border-radius: 999px;
  border: none;
  background: none;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-transition: color 150ms ease-in-out, opacity 150ms ease-in-out, background-color 150ms ease-in-out, border-color 150ms ease-in-out;
  transition: color 150ms ease-in-out, opacity 150ms ease-in-out, background-color 150ms ease-in-out, border-color 150ms ease-in-out;
}

.c-btn:focus,
.c-btn:hover {
  outline: 0;
  text-decoration: none;
}

.c-btn--block {
  display: block;
  width: 100%;
}

.c-btn--primary {
  color: #fff;
  background: -webkit-gradient(linear, left bottom, right top, from(#ce0200), to(transparent));
  background: linear-gradient(to top right, #ce0200, transparent);
  background-color: #FF0402;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.c-btn--primary:focus,
.c-btn--primary:hover {
  color: #fff;
  background-color: #ce0200;
}

.c-btn--primary:visited {
  color: #fff;
}

.c-btn--primary:visited:focus,
.c-btn--primary:visited:hover {
  color: #fff;
}

.c-btn--ghost {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-top: 0.45rem;
  padding-bottom: 0.45rem;
}

.c-btn--ghost:focus,
.c-btn--ghost:hover {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.c-btn--ghost.c-btn--primary {
  color: #333;
  border: 0.2rem solid #FF0402;
}

.c-btn--ghost.c-btn--primary:focus,
.c-btn--ghost.c-btn--primary:hover {
  color: #333;
  border-color: #ce0200;
}

.c-btn--ghost.c-btn--reverse {
  color: #fff;
}

.c-btn--ghost.c-btn--reverse:focus,
.c-btn--ghost.c-btn--reverse:hover {
  color: #fff;
}

.c-btn:disabled,
.c-btn.disabled,
.c-btn.is-disabled {
  opacity: 0.6;
  pointer-events: none;
}

