@-webkit-keyframes linkHoverIn {
  0% {
    left: 0;
    right: 100%;
  }

  100% {
    left: 0;
    right: 0;
  }
}

@keyframes linkHoverIn {
  0% {
    left: 0;
    right: 100%;
  }

  100% {
    left: 0;
    right: 0;
  }
}

@-webkit-keyframes linkHoverOut {
  0% {
    left: 0;
    right: 0;
  }

  100% {
    left: 100%;
    right: 0;
  }
}

@keyframes linkHoverOut {
  0% {
    left: 0;
    right: 0;
  }

  100% {
    left: 100%;
    right: 0;
  }
}

@-webkit-keyframes mobileBackgroundFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes mobileBackgroundFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes mobileLinkFadeIn {
  0% {
    opacity: 0;
    top: -4.4rem;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes mobileLinkFadeIn {
  0% {
    opacity: 0;
    top: -4.4rem;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

.c-header__logo-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-header__logo {
  padding-top: 1.65rem;
  padding-bottom: 1.65rem;
}

.c-header__logo img {
  height: 5.5rem;
}

@media (max-width: 575.98px) {
  .c-header__logo img {
    height: 3.3rem;
  }
}

.c-header__company-logo {
  margin-left: 1.6rem;
}

.c-header__company-logo img {
  max-width: 100%;
  max-height: 5.5rem;
  height: auto;
}

.c-header__phone {
  text-align: right;
  margin-bottom: 1.1rem;
}

@media (max-width: 991.98px) {
  .c-header__phone {
    text-align: center;
  }
}

.c-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

@media (max-width: 991.98px) {
  .c-header__list {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.c-header__item {
  position: relative;
}

.c-header__link {
  position: relative;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 700;
  font-size: 1.6rem;
}

.c-header__link:after {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  top: 0;
  border-bottom: 0.2rem solid #FF0402;
  -webkit-animation: linkHoverOut 150ms ease-in;
          animation: linkHoverOut 150ms ease-in;
  -webkit-transition: opacity 1ms 150ms;
  transition: opacity 1ms 150ms;
  opacity: 0;
}

.c-header__link:hover {
  text-decoration: none;
}

.c-header__link:hover:after {
  -webkit-animation: linkHoverIn 150ms ease-out;
          animation: linkHoverIn 150ms ease-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transition: none;
  transition: none;
  opacity: 1;
}

.c-header__link:active:after,
.c-header__link.is-active:after {
  -webkit-animation: none;
          animation: none;
  left: 0;
  right: 0;
  opacity: 1;
}

@media (max-width: 991.98px) {
  .c-header__link {
    font-size: 2.1rem;
    padding-bottom: 1.1rem;
  }
}

.c-header__menu-btn {
  padding-left: 1.6rem;
  padding-right: 0;
}

.c-header--logged-out {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 2;
}

.c-header--logged-out.is-open .c-header__menu-btn {
  display: none;
}

.c-header--logged-out.is-open .c-header__menu-btn--close {
  display: block;
}

.c-header--logged-out.is-open .c-header__mobile-menu {
  display: block;
}

.c-header--logged-out.is-open .c-header__mobile-item {
  -webkit-animation: mobileLinkFadeIn 150ms ease-out;
          animation: mobileLinkFadeIn 150ms ease-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}

.c-header--logged-out.is-open .c-header__mobile-item:nth-child(2) {
  -webkit-animation-delay: 175ms;
          animation-delay: 175ms;
}

.c-header--logged-out.is-open .c-header__mobile-item:nth-child(3) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.c-header--logged-out.is-open .c-header__mobile-item:nth-child(4) {
  -webkit-animation-delay: 225ms;
          animation-delay: 225ms;
}

.c-header--logged-out.is-open .c-header__mobile-item:nth-child(5) {
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}

.c-header--logged-out.is-open .c-header__mobile-item:nth-child(6) {
  -webkit-animation-delay: 275ms;
          animation-delay: 275ms;
}

.c-header--logged-out.is-open .c-header__background {
  display: block;
  -webkit-animation: mobileBackgroundFadeIn 300ms ease-out;
          animation: mobileBackgroundFadeIn 300ms ease-out;
}

.c-header--logged-out .c-header__phone {
  color: #fff;
}

.c-header--logged-out .c-header__phone a {
  color: #fff;
}

.c-header--logged-out .c-header__phone a:hover {
  color: #fff;
}

.c-header--logged-out .c-header__menu {
  position: relative;
  z-index: 2;
}

.c-header--logged-out .c-header__menu.is-open .c-header__menu-btn {
  display: none;
}

.c-header--logged-out .c-header__menu.is-open .c-header__menu-btn--close {
  display: block;
}

.c-header--logged-out .c-header__mobile-menu {
  position: relative;
  display: none;
  margin-top: 3.3rem;
  z-index: 2;
}

.c-header--logged-out .c-header__mobile-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  padding-left: 0;
}

.c-header--logged-out .c-header__mobile-item {
  position: relative;
  text-align: center;
  margin-bottom: 1.1rem;
}

.c-header--logged-out .c-header__link {
  color: #fff;
}

.c-header--logged-out .c-header__link:hover {
  color: #fff;
}

.c-header--logged-out .c-header__link:hover:visited {
  color: #fff;
}

.c-header--logged-out .c-header__link:visited {
  color: #fff;
}

.c-header--logged-out .c-header__menu-btn {
  color: #fff;
}

.c-header--logged-out .c-header__menu-btn--close {
  display: none;
}

.c-header .c-header__background {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle farthest-corner at -75% 125%, #515151, #111);
  z-index: 1;
}

.c-header--logged-in {
  border-bottom: 0.1rem solid #DBDBDB;
}

.c-header--logged-in .c-header__menu {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.c-header--logged-in .c-header__phone {
  color: #333;
}

.c-header--logged-in .c-header__phone a {
  color: #333;
}

.c-header--logged-in .c-header__phone a:hover {
  color: #333;
}

.c-header--logged-in .c-header__link {
  color: #333;
}

.c-header--logged-in .c-header__link:hover {
  color: #333;
}

.c-header--logged-in .c-header__link:hover:visited {
  color: #333;
}

.c-header--logged-in .c-header__link:visited {
  color: #333;
}

.c-header--logged-in .c-header__link--log-out:hover {
  color: #FF0402;
}

.c-header--logged-in .c-header__link--log-out:hover:visited {
  color: #FF0402;
}

.c-header--logged-in .c-header__link--log-out,
.c-header--logged-in .c-header__link--log-out:visited {
  color: #777;
}

.c-header--logged-in .c-header__link--log-out:after {
  display: none;
}

