// Products & Services
// 
// Styles for Products & Services page

@import 'globals';

.c-ps-hero {
	background: url('/images/products-services-hero.jpg') no-repeat center center;
	background-size: cover;
}

.c-ps-section {
	margin-bottom: $leading * 2.5;
		
	@include media-breakpoint-down(sm) {
		margin-bottom: $leading;
	}

	&__title {
		margin-bottom: $leading * 1.5;
	}
	
	&__item {
		display: flex;
		align-items: center;
		margin-bottom: $leading * 1.5;
	}

	&__img {
		margin-right: $grid-gutter-width-rem;
		
		img {
			max-width: 8rem;
			box-shadow: $box-shadow;
		}
	}

	&__text {
		h3 {
			margin-bottom: 0;
		}

		p {
			color: $text-muted-color;
			margin-bottom: 0;
		}
	}

	&__border {
		width: 100%;
		position: absolute;

		&--top {
			top: 0;
			left: 0;
		}

		&--bottom {
			bottom: 0;
			right: 0;
		}
	}

	&--gray {
		position: relative;
		padding-top: $leading * 2.5;
		padding-bottom: $leading * 2.5;
		background-color: $gray-1;

		@include media-breakpoint-down(sm) {
			padding-top: $leading * 3;
			padding-bottom: $leading * 2;
		}
	}
}
