// Section Title
//
// Provides a fixed width red underline for headings

@import 'globals';

.c-section {
  &--center {
    text-align: center;

    h1, h2, h3, h4 {
      &:after {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  h1, h2, h3, h4 {
    &:after {
      content: '';
      display: block;
      width: $grid-gutter-width-rem * 3;
      height: $border-width * 2;
      margin-top: $leading / 4;
      background-color: $brand-primary-color;
    }
  }

  &__content {
    color: $text-muted-color;
    font-size: $font-size-lg;
    line-height: $leading * 1.5;
    margin-bottom: $leading;

    @include media-breakpoint-down(sm) {
      font-size: $font-size-base;
      line-height: $leading;
    }
  }
}