// Category Menu
// 
// Styles for logged in menu

@import 'globals';

$category-menu-border-left: 				0.2rem;

$category-menu-item-height:					$leading * 1.5;
$category-menu-item-padding-y:				($category-menu-item-height - $leading) / 2;
$category-menu-item-padding-x:				$grid-gutter-width-rem;

.c-category-menu {
	$block: &;

	height: 100%;
	padding-right: $grid-gutter-width-rem;
	border-right: $border-width solid $border-color;

	&__title {
		padding-top: $leading / 2;
	}

	&__list,
	&__sublist {
		list-style: none;
		padding-left: 0;
	}

	&__sublist {
		overflow: hidden;
		transition: height $transition-duration-short ease-in;
	}

	&__item {
		.is-open {
			#{$block}__main {
				background-color: $gray-1;
				border-left: $category-menu-border-left solid $brand-primary-color;
				padding-left: $grid-gutter-width-rem - $category-menu-border-left;
			}

			#{$block}__icon {
				&--expand {
					display: none;
				}

				&--collapse {
					display: block;
				}
			}

			#{$block}__sublist {
				border-left: $border-width solid $border-color;
				transition: height $transition-duration-short ease-out;
			}
		}
	}

	&__subitem {
		padding-left: $category-menu-item-padding-x;
		margin-bottom: $category-menu-item-padding-y;

		&:last-child {
			margin-bottom: 0;
		}

		@include active {
			padding-left: $category-menu-item-padding-x - $category-menu-border-left;
			border-left: $category-menu-border-left solid $brand-primary-color;
			font-weight: $font-weight-bold;
		}
	}

	&__main {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-left: -$category-menu-item-padding-x;
		margin-right: -$category-menu-item-padding-x;
		padding: $category-menu-item-padding-y $category-menu-item-padding-x;

		&:hover {
			background-color: $gray-1;
		}
	}

	&__link {
		padding-right: $grid-gutter-width-rem;
	}

	&__sublink {
		font-weight: inherit;
	}

	&__icon {
		cursor: pointer;

		// Default state is closed
		&--collapse {
			display: none;
		}
	}


	// Reset anchor styles
	a {
		color: $text-color;

		&:visited {
			color: inherit;
		}

		&:hover {
			color: $text-color;
			text-decoration: none;

			&:visited {
				color: inherit;
			}
		}
	}
}