// Utilities
//
// Common variables for Utilities


$border-width:                            	0.1rem;
$border-radius:                           	0;
$default-border:                          	$border-width solid $border-color;

$box-shadow:                              	0 0 1.1rem 0 rgba($box-shadow-color, 0.3);

$disabled-opacity:                        	0.6;

$transition-duration:                     	300ms;
$transition-duration-short:               	150ms;

$header-height:								$leading * 4;
$header-sm-height:							$leading * 3;
